* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* ----------------------user dashboard styling begins here---------------------------- */

.airtimeBody Nav .firstNav {
	display: none;
}

.airtimeBody Nav .secondNav {
	background: rgb(5, 64, 146);
	padding: 10px 0 20px 0;
}

.airtimeBody Nav .secondNav {
	color: white;
}

.airtimeBody Nav .secondNav ul li {
	color: white;
}

.airtimeBody Nav .secondNav ul li:hover {
	color: tomato;
}

.airtimeBody Nav .secondNav ul li .dropdownContent {
	background: rgb(5, 64, 146);
}

.airtimeBody Nav .secondNav ul li .dropdownContent li {
	padding-bottom: 4px;
	padding-top: 4px;
}
/* ----------------------user dashboard styling ends here---------------------------- */

/* ----------------------dashboard background image styling starts here----------------------------- */

.airtimeImgBackground {
	background: rgb(33, 73, 129) url("../assets/nav1.jpg") no-repeat scroll right;
	background-blend-mode: soft-light;
	background-size: cover;
	height: 25vh;
	z-index: -1;
	margin-top: -20px;
}

.airtimeImgBackground h2 {
	color: rgb(255, 0, 0);
	font: 18px sans-serif;
	padding: 75px 135px;
}
/* ---------------------dashboard background image styling ends here----------------------------- */

/* ----------------------user dashboard body styling starts here---------------------------- */
.airtime-recharge-body {
	background: #fff;
	border: 1px solid #ffffff;
	width: 80%;
	margin: -60px auto;
	padding: 20px;
	border-radius: 4px;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.airtime-recharge-body form h2 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(102, 101, 101);
}

.airtime-recharge-body form label {
	margin: 0px;
	color: rgb(12, 38, 75);
	text-transform: uppercase;
	font: 14px sans-serif;
}

.airtime-recharge-body form input {
	display: block;
	width: 700px;
	height: 45px;
	margin: 5px 0 25px 0;
}

.airtime-recharge-body form .select {
	background: white;
	display: block;
	width: 700px;
	height: 47px;
	margin: 5px 0 25px 0;
}

.airtime-recharge-body .airtimeBtn {
	background: rgb(5, 64, 146);
	color: white;
	border: none;
	width: 700px;
	padding: 15px;
	border-radius: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.airtime-recharge-body .airtimeBtn:hover {
	background: rgb(3, 48, 107);
}

.airtime-recharge-body .airtime-action {
	border: 1px solid rgb(5, 64, 146);
	margin: 20px 0 23px 30px;
}

.airtime-recharge-body .airtime-action h5 {
	border: 1px solid rgb(5, 64, 146);
	background: rgb(5, 64, 146);
	color: white;
	padding: 10px 20px;
}

.airtime-recharge-body .airtime-action ul {
	padding: 2px 40px 2px 40px;
	color: rgb(255, 0, 0);
}

.airtime-recharge-body .airtime-action li {
	padding: 2px 0;
}

/* ------------------------------mobile responsiveness starts here-------------------------------------- */

@media screen and (max-width: 768px) {
	/* -----------------------------nav styling----------------------------- */
	.airtimeBody Nav {
		padding-bottom: 20px;
	}

	/* -----------------------------dash-user-body styling----------------------------- */
	.airtimeImgBackground h2 {
		font: 14px sans-serif;
		padding: 110px 20px;
	}

	.airtime-recharge-body {
		width: 90%;
		padding: 20px;
		flex-wrap: wrap;
	}

	.airtime-recharge-body form h2 {
		font-size: 20px;
		font-weight: bold;
	}

	.airtime-recharge-body form label {
		font: 12px sans-serif;
		margin: 10px 0 0 0;
	}

	.airtime-recharge-body form input {
		width: 100%;
		height: 35px;
		margin: 5px auto;
	}

	.airtime-recharge-body form .select {
		width: 100%;
		height: 35px;
		margin: 5px auto 20px;
	}

	.airtime-recharge-body .airtimeBtn {
		width: 300px;
		font-size: 14px;
	}

	.airtime-recharge-body .airtime-action {
		margin: 20px 0 0 0;
	}

	.airtime-recharge-body .airtime-action li {
		font-size: .7rem;
	}
}
