* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* ----------------------user dashboard styling begins here---------------------------- */

.airtimeBody Nav .firstNav {
	display: none;
}

.airtimeBody Nav .secondNav {
	background: rgb(5, 64, 146);
	padding: 10px 0 20px 0;
}

.airtimeBody Nav .secondNav {
	color: white;
}

.airtimeBody Nav .secondNav ul li {
	color: white;
}

.airtimeBody Nav .secondNav ul li:hover {
	color: tomato;
}

.airtimeBody Nav .secondNav ul li .dropdownContent {
	background: rgb(5, 64, 146);
}

.airtimeBody Nav .secondNav ul li .dropdownContent li {
	padding-bottom: 4px;
	padding-top: 4px;
}
/* ----------------------user dashboard styling ends here---------------------------- */

/* ----------------------dashboard background image styling starts here----------------------------- */

.airtimeImgBackground {
	background: rgb(33, 73, 129) url("../assets/nav1.jpg") no-repeat scroll right;
	background-blend-mode: soft-light;
	background-size: cover;
	height: 25vh;
	z-index: -1;
	margin-top: -20px;
}

.airtimeImgBackground h2 {
	color: rgb(255, 0, 0);
	font: 18px sans-serif;
	padding: 75px 135px;
}
/* ---------------------dashboard background image styling ends here----------------------------- */

/* ----------------------user dashboard body styling starts here---------------------------- */
.airtime-recharge-body {
	background: #fff;
	border: 1px solid #ffffff;
	width: 80%;
	margin: -60px auto;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.airtime-recharge-body h2 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(102, 101, 101);
	margin: 0px 60px;
}

/* ------------------------------------airtime image------------------------------------------ */

.airtime-img-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.airtime-recharge-body .airtime-img {
	position: relative;
}

.airtime-recharge-body .airtime-img .img {
	height: 150px;
	width: 200px;
	opacity: 1;
	display: block;
	margin: 10px 20px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.airtime-recharge-body .airtime-img .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.airtime-recharge-body .airtime-img:hover .img {
	opacity: 0.6;
}

.airtime-recharge-body .airtime-img:hover .middle {
	opacity: 1;
}

.text {
	background-color: rgb(5, 64, 146);
	color: white;
	font-size: 14px;
	padding: 10px 20px;
	cursor: pointer;
}

/* -------------------------modal styling begins here----------------------------------------------------- */

.order-modal {
	display: flex;
	justify-content: space-between;
}

.order-modal h2 {
	font: 1.5rem sans-serif;
}

.order-modal .close-modal {
	font-size: 2rem;
	margin: auto 0;
	cursor: pointer;
}

.modal-form p {
	font-size: .7rem;
}

.modal-form div {
	display: flex;
}

.modal-form div p {
	margin: auto;
}

.modal-form input {
	height: 33px;
	margin: auto 20px;
}

.modal-form .btn {
	float: right;
}

.modal-form .btn button {
	margin: 5px;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
	overflow: hidden;
	opacity: 1;
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 700ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

/* ---------------------------------modal styling ends here--------------------------------------------------------- */

/* -----------------------------------airtime image styling ends here------------------------------------- */

.airtime-recharge-body .airtime-action {
	border: 1px solid rgb(5, 64, 146);
	margin: 20px auto;
	width: 300px;
}

.airtime-recharge-body .airtime-action h5 {
	border: 1px solid rgb(5, 64, 146);
	background: rgb(5, 64, 146);
	color: white;
	padding: 10px 20px;
}

.airtime-recharge-body .airtime-action ul {
	padding: 2px 40px 2px 40px;
	color: rgb(255, 0, 0);
}

.airtime-recharge-body .airtime-action li {
	padding: 2px 0;
}

/* ------------------------------mobile responsiveness starts here-------------------------------------- */

@media screen and (max-width: 768px) {
	/* -----------------------------nav styling----------------------------- */
	.airtimeBody Nav {
		padding-bottom: 20px;
	}

	/* -----------------------------dash-user-body styling----------------------------- */
	.airtimeImgBackground h2 {
		font: 14px sans-serif;
		padding: 110px 20px;
	}

	.airtime-recharge-body {
		width: 90%;
		padding: 20px;
		flex-wrap: wrap;
	}

	.airtime-recharge-body .airtime-action {
		margin: 20px 0 0 0;
	}

	.airtime-recharge-body .airtime-action li {
		font-size: .7rem;
	}
	
	/* ----------------------------image and modal styling----------------------------------------- */
	
	
	.airtime-recharge-body .airtime-img .img {
		height: 10rem;
		width: 15rem;
	}
	
	.airtime-recharge-body .airtime-action {
		width: 15rem;
		margin: 30px auto;
	}
	
	.order-modal h2 {
		font: 1rem sans-serif;
		margin: auto 0;
	}

	.order-modal .close-modal {
	font-size: 1.5rem;
}
	
	.modal-form p {
		font-size: .7rem;
	}
	
	.modal-form input {
	height: 28px;
	width: 160px;
}

.modal-form .btn {
	margin-right: -20px;
}

.modal-form .btn button {
	font-size: .6rem;
	margin: 0px 2px;
}

}