* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------------------------------mobile responsiveness starts here-------------------------------------- */

@media screen and (max-width: 768px) {
	.loginContainer fieldset {
		margin-top: 50px;
	}
}
