* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.firstNav {
	background: rgb(5, 64, 146);
	line-height: 40px;
}

.navlink:hover {
	text-decoration: none;
}

.navlink:focus {
	outline: none;
}

.firstNav ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	font-size: 11px;
	text-transform: uppercase;
	margin-right: 150px;
}

.firstNav ul li {
	color: white;
	margin: 0 10px;
}

.firstNav ul li:hover {
	color: tomato;
}

.secondNav {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.secondNav h1 {
	margin: auto;
	font-size: 40px;
}

.secondNav h1 span {
	font-size: 50px;
	color: rgb(219, 0, 0);
}

.secondNav ul {
	display: flex;
	list-style: none;
	font-size: 12px;
	text-transform: uppercase;
	margin: auto;
}

.secondNav ul li {
	color: #4e4c4c;
	padding: 10px;
}

.secondNav ul li:hover {
	color: rgb(219, 0, 0);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: lightgrey;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	margin-top: 8px;
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdownContent {
	display: block;
}

/* ----------------------toggling bar animation styling------------------------- */

.mobileNav {
	display: none;
}

@media screen and (max-width: 768px) {
	.firstNav {
		display: none;
	}

	.secondNav {
		display: none;
	}

	.mobileNav {
		display: block;
		position: relative;
	}

	.nav-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 150px;
	}

	.nav-links li {
		color: white;
		list-style: none;
		font-size: 14px;
		text-transform: uppercase;
	}

	.nav-links li:hover {
		color: rgb(243, 33, 33);
		text-decoration: underline;
	}

	.mobileNavBody {
		background: rgb(5, 64, 146);
		position: absolute;
		width: 100%;
		z-index: 2;
	}

	.mobileNavBody h1 {
		font-size: 24px;
		color: white;
		padding-left: 10px;
	}

	.mobileNavBody h1 span {
		font-size: 28px;
		color: rgb(219, 0, 0);
	}

	.line {
		width: 22px;
		height: 2px;
		background: white;
		margin: 5px;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 2%;
		top: 50%;
		transform: translate(-2%, -50%);
	}

	.nav-links {
		position: fixed;
		z-index: 1;
		background: rgb(5, 64, 146);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -20%);
		-webkit-clip-path: circle(100px at 90% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
	}

	.nav-links.open {
		clip-path: circle(1000px at 90% -20%);
		-webkit-clip-path: circle(1000px at 90% -20%);
		pointer-events: all;
	}
}
